@use '../utils/variables' as *;

.intro,
.game {
  align-items: center;
  color: $color-text;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  transition: opacity 0.5s ease;
}