@use '../utils/variables' as *;

.score {
  align-items: center;
  color: $color-text;
  display: flex;
  justify-content: space-evenly;
  margin: $spacing-sm auto;
  padding: $spacing-sm 0;
  width: 100%;

  .wrapper-player-score,
  .wrapper-computer-score {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    position: relative;

    .player-score,
    .computer-score {
      align-items: center;
      border: $border-thick solid $color-accent-dark;
      border-radius: 50%;
      display: flex;
      height: 4.5rem;
      justify-content: center;
      padding: 12px;
      width: 4.5rem;

      img {
        height: 100%;
        object-fit: contain;
      }
    }

    // Estilos comunes para score y resultado
    .score-text,
    .result-icon {
      align-items: center;
      border-radius: 50%;
      bottom: -30px;
      color: $color-text;
      display: none;
      font-size: 1.5rem;
      height: 28px;
      justify-content: center;
      padding: 6px;
      position: absolute;
      width: 28px;
      z-index: 1;

      &.fadeIn {
        display: flex;
      }

      &.fadeOut {
        display: none;
      }
    }

    .score-text {
      background: $color-score-bg;
    }

    .result-icon {
      font-weight: bold;

      &.win {
        background: $color-player-border;
      }

      &.lose {
        background: $color-computer-border;
      }

      &.tie {
        background: $color-computer-bg;
      }
    }
  }
}

// Alineación
.wrapper-player-score {
  .score-text,
  .result-icon {
    right: 0;
  }
}

.wrapper-computer-score {
  .score-text,
  .result-icon {
    left: 0;
  }
}