@keyframes shakeComputer {
  0%, 25%, 50%, 75%, 100% {
    transform: translateY(0px);
  }
  15%, 35%, 65%, 85% {
    transform: translateY(-50px);
  }
}

@keyframes shakePlayer {
  0%, 25%, 50%, 75%, 100% {
    transform: rotateY(180deg) translateY(0px);
  }
  15%, 35%, 65%, 85% {
    transform: rotateY(180deg) translateY(-50px);
  }
}