@use '../utils/variables' as *;

html,
body {
  background: $color-background;
  box-sizing: border-box;
  font-family: $font-base;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

section {
  height: 100%;
}

button:focus {
  outline: none;
}